html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 1rem;
}

html {
    overflow-y: scroll;
}

[class*='col']{
    padding-left: 0 !important;
    padding-right:0 !important;
}

.container-fluid { 
    max-width: 100vw;
    padding-right: 0;
}

.search-bar {
    max-width: 130px;
}

.items {
    padding: 5px;
    transition: box-shadow 0.2s, 
    background-color 0.2s,
    border-radius 0.2s ;
    cursor: pointer;
    /* border: 1px solid red; */
}

.items:hover {
    box-shadow: 0 4px 8px rgba(0,0,0, 0.3);
    background-color: #f8f9fa;
    border-radius: 0.25rem;
}

.login, 
.logo-img,
.login-area {
    cursor: pointer;
}


.item-img-area img {
    max-width: 100%;
    height: auto;
    /* 부모의 width 안에서만 커짐 */
    object-fit: contain;
}

.login-area span {
    display: inline-block;
    width: 80px;
    text-align: left;
}

.font-sub {
    font-size: small ;
}

.item-row {
    margin-bottom: 1rem;
    position: relative;
}

.item-row:not(:nth-child(4n+1))::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: -1rem;
}

.fs-small{
    font-size: 0.8rem;
}

.product {
    /* width: 50%; */
    max-height: 500px;
    /* box-sizing: border-box; */
    
}

.product img {
    /* box-sizing: border-box; */
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    /* display: block; */
    /* margin: 0 auto; */
    /* padding: 0; */

}

.item-container {
    /* width: 90% !important; */
    max-width: 600px !important;
    max-height: 500px !important;
    /* box-sizing: border-box; */
}

.dropdown-menu {
    /* width: 50% !important; */
    /* min-width: 0; */
    /* box-sizing: border-box; */
    width: 50px;
}

.drop-items {
    /* width: 100% !important; */
    /* min-width: 0; */
    /* box-sizing: border-box; */
}

.dropdown-button {
    width: 160px;
}

.add-cart {
    width: 250px;
}